.block-container{
    display: flex;
    margin: 1rem,2rem;
}
.form{
    position: relative;
    inset: 0;
    padding: 0 ;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    border: 0px;
    border-radius: 1rem;
    box-shadow: 0 0 10px   rgba(0, 0, 0, .8);
    border-radius: 2rem;
    overflow: hidden;
}

.form-item{
    position: relative;
    border: 0px;
    width:25rem;
    height: 3em;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    
    font-family: "PT Sans Narrow", sans-serif;
}
.form-item input{
    text-align: center;
    height: 100%;
    border: 0;
    justify-content: left;
}

.form-item input::placeholder{
    text-align: center;
}


.label{
    font-family: inherit;
    color: aliceblue;
    font-size: 1.25rem;
    text-align: right;
    left: 0;
    align-content: center;
}
.check{
    position: absolute;
    justify-items: left;
}

.left{
    position: absolute;
    left: 0;
    width:10rem;
}
.right{
    position: absolute;
    right: 0;
    width: 14.5rem;
}

.form button{
    display: grid;
    justify-content: center;
    place-items: center;
    color: aliceblue;
    background-color: blueviolet;
    font-size: 1.25rem;
    
}