.home-container{
    display: flex;
    background-color: #D8DAD3;
    
    border: none;
    background-size: cover;
    padding: 10rem 10rem;
    position: relative;
}

.home-items{
    position: absolute;
    inset: 0;
    display: grid;
    margin: 10rem 15rem 1rem 15rem;
    padding: 2rem;
    border-radius: 5px;
    background: #A4C2A5;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    place-items: center;
    place-content: center;
    box-shadow: 0 0 20px;
    
}
.home-title{
    display: flex;
    font-style: italic;
    text-align: center;
    padding: 2rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #4A4A48;

}
.home-buttons{
    justify-content: center;
    align-items: center;
    margin: 15rem 0;
    
}
.home-buttons button{
    border: 0px;
    width: 190px;
    height: 60px;
    font-size:x-large;
    
    
    
}
.home-button-join{
        border: 0px;
            width: 190px;
            height: 60px;
            font-size: x-large;
    background-color: #BACDB0;
    color:#2E2C2F;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.home-create{
        border: 0px;
            width: 190px;
            height: 60px;
            font-size: x-large;
    background-color: #729B79;
    color: rgb(255, 255, 255);
    border-left: 2px;
    border-left-color: black;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}